@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700,500,900);

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 960px;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.meta {
  text-transform: uppercase;
}

.register {
  display: inline-block;
  padding: 15px 25px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0px;
  border-width: 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-title {
  color: #ff9d00;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.7em;
}

.section-text {
  color: #212121;
  font-size: 1.4em;
}

#header {
  color: #fff;
  height: 100%;
  padding-top: 50px !important;
}

.video-bg {
  background-color: rgba(27, 31, 37, 0.3);
}

#header .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#about {
  background-image: url("/img/bg.png");
  background-position: right;
  background-repeat: no-repeat;
}

#about .section-content {
  margin-right: 200px;
  margin-bottom: 2em;
}

#organiser {
  background-color: #1B1F25;
}

#organiser .section-heading {
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
}

#organiser .img-responsive {
  margin: 0 auto;
}

#schedule .section-content {
  margin-left: 200px;
  margin-bottom: 2em;
}

#schedule .section-heading {
  color: #ff9d00;
  margin-bottom: 0.7em;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
}

@media(min-width:768px) {
  section {
    padding: 100px 0;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #1B1F25;
  color: #fff;
}

footer img {
  display: inherit !important;
  position: relative;
  left: 20px;
  bottom: 5px;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #ffc500;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #ff9d00;
}

.schedule-table {
  margin: auto;
  text-align: left;
  width: 600px;
  font-size: 1.4em;
}

.schedule-table tr {
  border-bottom: 1px solid #ccc;
}

.schedule-table td, .schedule-table th {
  padding: 10px;
}

.map {
  height: 300px;
  padding: 0;
}

@media(max-width:768px) {
  .map {
    height: 75%;
    padding: 0;
  }
}

@media (max-width: 1187px) {

  #about {
    background: none;
  }

  #about .section-content {
    margin-right: 0;
  }

  .schedule-table {
    max-width: 400px;
  }

}

#prizes .section-heading {
  color: #ff9d00;
  margin-bottom: 0.7em;
}

.prize1st-subheading {
  font-size: 2em;
  margin-bottom: 1em;
}

.navbar {
  margin-bottom: 0;
  min-height: 0;
}

.navbar a {
  font-size: 1.5em;
  color: #fff;
}


