<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Apinf Hackathon Registration</title>
  </head>
  <body style="margin: 0; padding-top: 20px; padding-bottom: 20px; background: #f7f7f7; font-family: sans-serif;">
    <div style="padding: 20px 10px; width: 80%; z-index: 5; margin: auto;">
      <table style="margin: auto;" width="80%">
        <img src="http://i.imgur.com/6gmgaPK.png" width="180px">
      </table>
    </div>
    <div style="background: #fff; padding: 20px 10px; width: 80%; z-index: 5; margin: auto; border: 1px solid rgba(0,0,0,.1)">
      <table style="background: #fff; margin: auto;" width="80%">
        <tr>
          <td>
            <h2 style="font-family: sans-serif;">Hack That API confirmation</h2></td>
        </tr>
        <tr>
          <td colspan="2">
            <table>
              <p>Dear {{firstName}} {{lastName}},
                thank you for your registration to Hack that API Hackathon! <br> We will confirm the participation 9 September and will also send an infopackage to selected teams at that point.
                <br><br>
                For more information on Apinf, please check: <br>
                https://www.facebook.com/APInf.io<br>
                https://twitter.com/APInf_io<br>
                https://github.com/apinf/api-umbrella-dashboard<br><br>
                In case you have questions, contact us at info@apinf.io.<br><br>

                Regards,<br>
                the Apinf team
              </p>
            </table>
            <br />
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
